#menu-bar {
  /* text-align: center; */
  border: 1px solid rgb(255, 255, 255);
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
}
#menu-bar li {
  list-style: none;
  margin-left: 0px;
  padding: 10px;
  border-bottom: 1px solid transparent;
  letter-spacing: 1px;
  background-color: transparent;
  border-radius: 5%;
  transition: 0.5s;
}
#menu-bar li a {
  text-decoration: none;
  color: rgb(72, 72, 72);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu-bar li:hover {
  background-color: rgb(255, 239, 118);
  border-radius: 5%;
  transition:all 0.5s;
}

.menu1 {
  display: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
}
.menu1 ul li{
  font-size: small;
}

.submenu1 ul li{
  font-size: x-small;
}

#menu-bar li:hover .menu1 {
  display:block;
  position:absolute;
  background: rgb(255, 255, 255);
  margin-top: 10px;
  padding-left: -25px;
  font-size: medium;
}
#menu-bar li:hover .menu1 ul {
  display: block;
  margin-right: 50px;
  margin-left: -30px;
  width:100%;
}
#menu-bar li:hover .menu1 ul li {
  width:86%;
  padding: 5px;
  margin-top: 5px;
  text-align: left;
}
.menu1 .submenu1{
  display: none;
  font-size: xx-small;
  width:86%;
}

 .menu1:hover .submenu1 {
  /* display: block;
  position: absolute;
  background: rgb(255, 255, 255);
  margin-top: 15px;
  transition: 3.5s; */
  font-size: x-small;
  display: block;
}

#menu-bar li:hover .menu1 ul li:last-child {
  border-bottom: none;
}
#menu-bar li:hover .menu1 ul li:hover {
  background-color: rgb(255, 225, 0);
}